@model IEnumerable<Farmer>

@{
    ViewData["Title"] = "Employee Dashboard Page";
}

@foreach (var farmer in Model)
{
    <div class="card mt-3 p-3 border">
        <h3>@farmer.FullName (@farmer.Location) - (@farmer.ContactInfo)</h3>

        @if (farmer.Products != null && farmer.Products.Any())
        {
            <ul>
                @foreach (var product in farmer.Products)
                {
                    <li>
                        <strong>@product.Name</strong> - @product.Category (Produced: @product.ProductionDate.ToShortDateString())
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No products found for this farmer.</p>
        }
    </div>
}