@model AgriEnergyConnect.Models.ViewModel.FarmerDashboardViewModel

@{
    ViewData["Title"] = "Farmer Dashboard Page";
}

<div style="margin-top: 20px;">
    <h3>Your Products</h3>
    @if (Model.Products.Any())
    {
        <div class="bg-white">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Production Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Category</td>
                            <td>@product.Description</td>
                            <td>@product.ProductionDate.ToShortDateString()</td>
                            <td>
                                <form asp-action="DeleteProduct" asp-controller="Farmer" method="post" asp-route-id="@product.Id" onsubmit="return confirm('Are you sure you want to delete this product?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <a class="btn btn-primary" asp-controller="Farmer" asp-action="AddProduct">Add Product</a>
        </div>

    }
    else
    {
        <p>No products yet.</p>
    }
</div>